<div class="row">
    <div class="col-md-12">
        <h2></h2>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Форма редактирования для теста <%- title %></h3>
            </div>
            <div class="panel-body ">
                <form>
                    <div class="form-group">
                        <label for="test-edit-title">
                            Название Теста
                        </label>
                        <input type="text" class="form-control" id="test-edit-title" value="<%- title %>"
                               placeholder="Название Теста"/>
                    </div>
                    <div class="form-group">
                        <label for="editTest-SubjectId">
                            Категория теста
                        </label>
                        <select id="test-edit-subjectId" class="form-control">
                            <option value="0">Нету</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="InputName">Количество вопросов</label>
                        <input type="number" class="form-control" value="<%- countQuestion %>" id="СountQuestion"
                               placeholder="Название темы">
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">

                            <div class="panel-title">
                                Вопросы
                                <div class="pull-right">

                                    <button type="button" class="btn btn-sm btn-success js-test-add-question "> Добавить
                                        вопрос
                                    </button>

                                </div>
                            </div>

                        </div>
                        <div class="panel-body js-test-question-section">

                            <!-- блок одного вопроса-->
                            <!--<div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="editTest-NameTest">
                                                Название Вопроса
                                            </label>
                                            <input type="text" class="form-control" id="editTest-NameTest" placeholder="Название Теста" />
                                        </div>
                                        <div class="form-group">
                                            <label for="editTest-NameTest">
                                                Содержимое вопроса
                                            </label>
                                            <textarea class="form-control" id="editTest-NameTest" rows="3" placeholder="Название Теста"></textarea>
                                        </div>
                                        <div class="form-group ">
                                            <label for="editTest-NameTest">
                                                Удалить вопрос
                                            </label>
                                            <div class="clearfix"></div>
                                            <button class="btn btn-default btn-danger">Удалить</button>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="editTest-NameTest">
                                                Ответы
                                            </label>
                                            <button class="btn btn-default">Добавить вариант ответа</button>
                                        </div>
                                        <div class="form-group col-xs-6">
                                            <label for="editTest-NameTest">
                                                Вариант ответа
                                            </label>
                                            <input type="text" class="form-control" id="editTest-NameTest" placeholder="Название Теста" />
                                        </div>
                                        <div class="form-group col-xs-3">
                                            <label for="editTest-NameTest">
                                                Правильный
                                            </label>
                                            <div class="clearfix"></div>
                                            <button class="btn btn-default btn-success">Верный</button>
                                        </div>
                                        <div class="form-group col-xs-3">
                                            <label for="editTest-NameTest">
                                                Удалить
                                            </label>
                                            <div class="clearfix"></div>
                                            <button class="btn btn-default btn-danger">Удалить</button>
                                        </div>
                                    </div>
                                </div>
                            </div>-->
                            <!-- Конец блока одного вопроса-->
                        </div>
                    </div>
                    <div class="form-group">

                        <button type="submit" class="btn btn-primary  btn-block"> Сохранить</button>
                    </div>


                </form>
            </div>
        </div>
    </div>
</div>