<!-- блок одного вопроса-->
<div class="panel panel-default" <% if( isRemoved){ print("style='display:none;'"); } %> >
<div class="panel-body">
    <div class="col-md-6">
        <div class="form-group">
            <label for="editTest-NameTest">
                Название Вопроса
            </label>
            <input type="text" class="form-control js-test-edit-question-title" value="<%- title %>"
                   placeholder="Название Теста"/>
        </div>
        <div class="form-group">
            <label for="editTest-NameTest">
                Содержимое вопроса
            </label>
            <textarea class="form-control js-test-edit-question-content" rows="3" placeholder="Название Теста"><%- content %></textarea>
        </div>
        <div class="form-group ">
            <label for="editTest-NameTest">
                Удалить вопрос
            </label>

            <div class="clearfix"></div>
            <button tpe="button" class="btn btn-default btn-danger js-test-edit-question-delete">Удалить</button>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label for="editTest-NameTest">
                Ответы
            </label>
            <button tupe="button" class="btn btn-default js-test-add-answer">Добавить вариант ответа</button>
        </div>
        <div class="col-md-12 js-test-answer-section">
            <!--
            <div>

                <div class="form-group col-xs-6">
                    <label for="editTest-NameTest">
                        Вариант ответа
                    </label>
                    <input type="text" class="form-control" id="editTest-NameTest" placeholder="Название Теста" />
                </div>
                <div class="form-group col-xs-3">
                    <label for="editTest-NameTest">
                        Правильный
                    </label>
                    <div class="clearfix"></div>
                    <button class="btn btn-default btn-success">Верный</button>
                </div>
                <div class="form-group col-xs-3">
                    <label for="editTest-NameTest">
                        Удалить
                    </label>
                    <div class="clearfix"></div>
                    <button class="btn btn-default btn-danger">Удалить</button>
                </div>
            </div>
            -->
        </div>
    </div>
</div>
</div>
<!-- Конец блока одного вопроса-->