<tr <% if(endDate == undefined) {print('class="warning"');} %>>
    <td><%- id %></td>
    <td> <%- name %></td>
    <td><% if(endDate != undefined) { %> <%- result %>% <% } else {%>-<% } %></td>
    <td><%- startSateString %></td>
    <td><%- endSateString %></td>
    <td>
<%  if(endDate == undefined) { %>
        <button type="button" class="btn btn-link js-continue-test"> Продолжить тест</button>
        <% } %>

<%  if(endDate != undefined && isCanShowResultAnswer) { %>
        <button type="button" class="btn btn-link js-answers-test"> Подробнее</button>
        <% } %>
       
    </td>
</tr>