<div class="col-md-12 list-group-item">
    <div href="javascript:void(0)" class="col-md-6 ">
        <%- userName %>
    </div>
    <div href="javascript:void(0)" class="col-md-2 ">
        <%- registrationDateString %>
    </div>
    <div href="javascript:void(0)" class="col-md-2 ">
        <%- lastLoginDateString %>
    </div>
    <div class="col-md-2">
        <!--<button type="button" class="btn btn-sm btn-primary js-button-show">Просмотр</button>
        <button type="button" class="btn btn-sm btn-warning js-button-edit">Редактировать</button>
        <button type="button" class="btn btn-sm btn-danger js-button-remove">Удалить</button>-->
        <button type="button" class="btn btn-sm btn-warning js-add-role-admin">Добавить роль Админ</button>
        <button type="button" class="btn btn-sm btn-warning js-add-role-teacher">Добавить роль Учитель</button>
        <button type="button" class="btn btn-sm btn-danger js-remove-all-role">Удалить все роли</button>
    </div>
</div>
