body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 100px auto 10px;


    & .form-signin-heading, & .checkbox {
        margin-bottom: 10px;
    }

    & .checkbox {
        font-weight: normal;
    }
    & .form-group{
        margin-bottom:5px;
    }

    & .form-control {
        position: relative;
        height: auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px;
        font-size: 16px;
    }

    .form-signin .form-control:focus {
        z-index: 2;
    }

    & input {
        margin-bottom: 5px;
        margin-top: 5px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        border-color:#8A6D3B;
    }

    & .form-alert {
        margin-bottom: 5px;
    }

    & .submit-button {
        margin-top: 10px;
    }
}
