
@{
    Layout = null;
    ViewBag.Title = "Login";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")

</head>
<body>
    <style>
        body {
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #eee;
        }

        .form-signin {
            max-width: 330px;
            padding: 15px;
            margin: 100px auto;
        }

            .form-signin .form-signin-heading,
            .form-signin .checkbox {
                margin-bottom: 10px;
            }

            .form-signin .checkbox {
                font-weight: normal;
            }

            .form-signin .form-control {
                position: relative;
                height: auto;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                padding: 10px;
                font-size: 16px;
            }

                .form-signin .form-control:focus {
                    z-index: 2;
                }

            .form-signin input[type="email"] {
                margin-bottom: -1px;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
            }

            .form-signin input[type="password"] {
                margin-bottom: 10px;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
    </style>

    <div class="container">
        <form class="form-signin">
            <h2 class="form-signin-heading">Форма входа</h2>
            <label for="inputLogin" class="sr-only">Логин входа </label>
            <input type="text" id="inputLogin" class="form-control" placeholder="Логин" required autofocus>
            <label for="inputPassword" class="sr-only">Пароль</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Пароль" required>
            <!--<div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>-->
            <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
        </form>
        <a href="Register">Регистрация</a>
    </div> <!-- /container -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <!--<script>

        $(function () {
            $(".form-signin").submit(function () {
                var loginData = {
                    grant_type: 'password',
                    username: $("#inputLogin").val().trim(),
                    password: $("#inputPassword").val().trim()
                };

                $.ajax({
                    type: 'POST',
                    url: '/Token',
                    data: loginData
                }).done(function (data) {
                    //GSU.token = /*token_type + */"Bearer  " + data.access_token;
                    // Cache the access token in session storage.
                    sessionStorage.setItem("token", "Bearer  " + data.access_token);
                    document.location = "/";
                }).fail();

                return false;

            });



        })

    </script>-->
    <script>

        $(function () {
            $(".form-signin").submit(function () {
                var loginData = {
                    grant_type: 'password',
                    Email: $("#inputLogin").val().trim(),
                    Password: $("#inputPassword").val().trim()
                };

                $.ajax({
                    type: 'POST',
                    url: '/Account2/Login',
                    data: loginData
                }).done(function (data) {
                    //GSU.token = /*token_type + */"Bearer  " + data.access_token;
                    // Cache the access token in session storage.
                    if (data.success) {
                        //sessionStorage.setItem("token", "Bearer  " + data.access_token);
                        document.location = "/";
                    }
                }).fail();

                return false;

            });



        })

    </script>

</body>
</html>
